### parameters fixed in VRPSolver but with values different from default

MaxNbOfStagesInColGenProcedure = 3
colGenSubProbSolMode = 3
MipSolverMultiThread = 1
ApplyStrongBranchingEvaluation = true

#fractionalSolutionDotFile = outfile.dot

### parameters open for the user with default values (notation in the Math.Prog. paper in comments)

RCSPhardTimeThresholdInPricing = 25       # \tau^{\mathrm{hard}}

RCSPmaxNumOfLabelsInEnumeration = 0#200000
RCSPmaxNumOfEnumeratedSolutions = 10000000 # \omega^{\mathrm{routes}}
RCSPmaxNumOfEnumSolutionsForMIP = 3000
RCSPuseVertexIdsInEnumeration = true

RCSPrankOneCutsMemoryType = 2
RCSPrankOneCutsMaxNumRows = 3
RCSPrankOneCutsTypeToSeparate = 0
RCSPcapacityCutsSeparator = 1
RCSPrankOneCutsLSnumIterations = 1000
RCSPuseCovSetsForSepOneRowPackingCuts = true

CutTailingOffThreshold = 0.015     # \delta^{\mathrm{gap}}
CutTailingOffCounterThreshold = 3
#CutTailingOffThreshold = 0.01     # \delta^{\mathrm{gap}}
#CutTailingOffCounterThreshold = 5
#CutTailingOffThreshold = 0.005     # \delta^{\mathrm{gap}}
#CutTailingOffCounterThreshold = 10
#CutCleanupThreshold = 2000

# RCSPinitNGneighbourhoodSize = 0
# RCSPmaxNGaverNeighbourhoodSize = 8
# RCSPmaxNGneighbourhoodSize = 8
# RCSPdynamicNGmode = -2

StrongBranchingPhaseOneCandidatesNumber = 100   # \zeta_1^{\mathrm{num}}
StrongBranchingPhaseOneTreeSizeEstimRatio = 2 # \zeta_1^{\mathrm{estim}}
StrongBranchingPhaseTwoCandidatesNumber = 5     # \zeta_2^{\mathrm{num}}
StrongBranchingPhaseTwoTreeSizeEstimRatio = 0.2 # \zeta_2^{\mathrm{estim}}

DEFAULTPRINTLEVEL = 0


MaxNbOfBBtreeNodeTreated = 10000	    # default 10000
colGenDualPriceSmoothingAlphaFactor = 1
RCSPuseExactComplBoundsInEnumeration = true

MaxTimeForRestrictedMasterIpHeur = 0
CallFrequencyOfRestrictedMasterIpHeur = 5

MIPemphasisInRestrictedMasterIpHeur = 1
RCSPmaxNumOfLabelsInHeurEnumeration = 100000
MaxNumEnumSolsInRestrictedMasterIpHeur = 0#5000
MaxNumEnumSolsInUserHeuristicFunctor = 5000
